before_install:
  chmod +x ./ci/build.sh ./ci/lab_manual/gen_html.sh

before_script:
  cd ci

addons:
  apt:
    packages:
      libxml2-utils
      ant
      xsltproc
      docbook-xsl-ns
      docbook5-xml
      fop
      openjdk
jobs:
  include:
    script: ./build.sh

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep_history: true
  local_dir: build_output
  on:
    branch: master