before_install:
  chmod +x ./build.sh

addons:
  apt:
    packages:
      libxml2-utils
      ant
      xsltproc
      docbook-xsl-ns
      docbook5-xml
      fop
      libxml2
      libxslt1-dev
      python2.7-dev
      libsaxon-java
      default-jre
jobs:
  include:
    script: ./build.sh

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep_history: true
  local_dir: ${TRAVIS_BUILD_DIR}/build_output
  on:
    branch: master